<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>BD</param-name>
        <param-value>bdjatetxe</param-value>
    </context-param>
    <servlet>
        <servlet-name>ServletRegistro</servlet-name>
        <servlet-class>packServlets.ServletRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>packServlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPerfil</servlet-name>
        <servlet-class>packServlets.ServletPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletReserva</servlet-name>
        <servlet-class>packServlets.ServletReserva</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRegistro</servlet-name>
        <url-pattern>/Registrarse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/Loguearse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPerfil</servlet-name>
        <url-pattern>/ModificarPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletReserva</servlet-name>
        <url-pattern>/Reservar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
