/* ---- PARTES COMUNES ------- */
        
        body {
           font-family: sans-serif;
           margin-left: 0px;
           margin-right: 0px;
           margin-top: 0px;
           margin-bottom: 0px;
           min-width: 1280px;
        }

        /* Parte de la cabecera */
        
        header {
            height: 120px;
            width: 100%;
            background: linear-gradient(to bottom, #00cc6f, rgb(0,121,0));
            text-align: center;
            
        }
        
        #logo {
            height: 110px;
            content: url("../img/logotipo.png")
        }
        
        nav {
            background-color: black;
            height: 40px;
            width: 100%;
        }

        /* Parte de los labels de los registros, perfil, login,... */
        
        .camposDeReg {
            width: 52%;
            float: left;
        }
        
        fieldset {
            padding-top: 10px;
            border:1px solid #666;
            border-radius: 8px;
            box-shadow:0 0 10px #666;
        }
        
        legend {
            border: solid 1px black;
            float: left;
            margin-top:-20px;
        }
        
        legend + * {
            clear:both;
        }
        
        input {
            font-size: 14px;
        }
        
        input:focus {
/*            border: 2px;*/
            background: #F3F3F3;
        }
        
        .linksDelNav:hover {
            text-decoration: none;
            color: #00cc6f;
            font-size: 110%;
        }
        
        .linksDelNav {
            text-decoration: none;
            margin-top: 10px;
            margin-right: 20px;
            color: #ffffff;
            float: right;
            transition: color 0.25s ease-out;
            transition: font-size 0.25s ease-out;
        }
        
        footer {
            position: relative;
            clear: left;
            height: 60px;
            background-color: black;
            text-align: center;
            color: #00cc6f; 
        }
        
        
        #licencia {
            color: #ffffff;
            text-decoration: none;
            transition: color 0.25s ease-out;
            float: left;
            margin-left: 200px;
        }
        
        #licencia:hover {
            color: #00cc6f;
            text-decoration: none;
        }
        
        #autores {
            color: #666666;
            float: right;
            margin-right: 200px;
        }
        
/* -------- REGISTRO --------- */

        #webRegistro {
            margin: 0 auto;
            padding: 0;
            display: block;
            width: 800px;
            height: 470px;
        }
  
        /* Parte del registro */
        
        #cajaRe{
            margin: 10px;
            width: 300px;
            height: 300px;
            border: 5px dashed gray;
            border-radius: 8px;
            background: rgb(230,230,230);
            background-repeat: no-repeat;
            background-size: 100%;
        }
        
        #archivoRe {
            width: 320px;
        }
        
        #imagenRe{
            float: left;
        }

        #fieldsetRegistro {
            max-width: 500px;
        }

        #divRegistro {
            width: 400px;
            float: left;
        }
        
        #botonRegistrar {
            margin-left: 130px;
            height: 30px;
            width: 100px;
            color: #ffffff;
            background: #00cc6f;
            border: solid 1px #666;
        }

/* -------- LOGIN --------- */

        #webLogin {
            margin: 0 auto;
            padding: 0;
            display: block;
            width: 400px;
            height: 410px;
        }
        
        #divLogin {
            width: 400px;
            float: left;
        }

        #fieldsetLogin {
            max-width: 500px;
        }   
        
        #botonEntrar{
            margin-left: 120px; 
            height: 30px;
            width: 100px;
            color: #ffffff;
            background: #00cc6f;
            border: solid 1px #666;
        }
/* -------- INDEX --------- */

        #navIndex{
        }

        #sectionIndex{
            margin: 0;
            width: 100%;
            height: 500px;
        }
        #busqueda{
           width: 100%;
           height: 60px;
        }
        
        #buscado{
            width: 25%;
            height: 30px;
            border-radius: 3px;
            border: solid 1px #666;
            text-align: center;
            box-shadow: 3px 3px 3px #666;
        }
        
        #botonBuscar{
            margin-left: 15px;
            width: 10%;
            height: 30px;
            border-radius: 3px;
            border: solid 1px #666;
            color: #ffffff;
            background: #00cc6f;
            box-shadow: 3px 3px 3px #666;
        }
        
        #botonBuscar:hover{
            margin-left: 15px;
            width: 10%;
            height: 30px;
            border-radius: 3px;
            border: solid 1px #666;
            color: #00cc6f;
            background: #ffffff;
            box-shadow: 3px 3px 3px #666;
        }
        
        #divImagenes{

            width: 100%;
            height: 500px;
            text-align: center;
            vertical-align: middle;
            background-image: url("../img/ODVO_Manish_13.jpg");

        }
        #texto{
            color: #ffffff;
            text-shadow: 0.1em 0.1em #666;
        }

        #mensaje{
            color: deeppink;
        }

        #gasteizN{
            margin-right: 70px;
            content: url("../img/gasteiz-normal.png");
            height: 125px;
            width: 125px;
        }

        #gasteizN:hover{
            content: url("../img/gasteiz-cambiado.png");
        }

        #bilbaoN{
            margin-right: 70px;
            content: url("../img/bilbo-normal.png");
            height: 125px;
            width: 125px;
        }

        #bilbaoN:hover{
            content: url("../img/bilbo-cambiado.png");
        }

        #donostiN{
            content: url("../img/donosti-normal.png");
            height: 125px;
            width: 125px;
        }

        #donostiN:hover{
            content: url("../img/donosti-cambiado.png");
        }     

/* -------- PERFIL -------- */

        /* Parte del body */
        
        #webPerfil {
            margin: 0 auto;
           /* margin-left: 50px;
            margin-right: 50px;*/
            padding: 0;
            display: block;
            width: 1100px;
            height: 600px;
        }

        /* Parte de la imagen */

        #caja {
            margin: 10px;
            width: 300px;
            height: 300px;
            border: 5px dashed gray;
            border-radius: 8px;
            background: rgb(230,230,230);
            background-repeat: no-repeat;
            background-size: 100%;
        }

        #imagen { 
            float: left;
        }

        #archivo {
            width: 320px;
        }
        
        /* Parte del perfil */
        
        #fieldsetPerfil {
            max-width: 500px;
        }
        #direccion{
           max-width: 349px;
           max-height: 49px;
        }
        
        #divPerfil {
            width: 400px;
            float: left;
            margin-left: 20px;
        }
        
        #localizacion{
            float: left;
            margin-left: 20px;
        }
        
        #botonGuardar{
            margin-left: 100px;
            height: 30px;
            width: 150px;
            color: #ffffff;
            background: #00cc6f;
            border: solid 1px #666;
        }
        